body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* LATERAL PADDING OF THE PAGE*/
.header,
.container-one,
.container-two,
.container-three,
.container-four,
.footer {
    padding: 0 200px;
}

/* FLEX OF CONTAINERS ONE TO FOUR */
.container-one,
.container-two,
.container-three,
.container-four {
    display: flex;
    flex: 1;
}

/* GENERAL COLORS */
.header,
.container-one,
.footer {
    background-color: #1F2937;
}

.container-one-button,
.container-four-button,
.inner-container-four {
    background-color: #3882F6;
    color: #F9FAF8;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;
}

.header-left {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 15px;
}


/* CONTAINER-ONE*/
.container-one {
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: stretch;
    gap: 30px;
}


.container-one-left,
.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.container-one-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.container-one-right {
    background-color: gray;
    color: #F9FAF8;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-one-button {
    border-radius: 7px;
    padding: 5px 20px;
    border: #3882F6;
    font-weight: bolder;
}


/* CONTAINER TWO*/
.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-two-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 30px;
}

.container-two-boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100px;
}

.rectangle {
    height: 100px;
    width: 100px;
    border: solid;
    border-color: #3882F6;
    border-radius: 10px;
}

/* CONTAINER THREE*/
.container-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-three-text-one {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.container-three-text-two {
    align-self: flex-end;
    font-weight: bolder;
}

/* CONTAINER FOUR*/
.container-four {
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
}

.inner-container-four{
    padding: 30px 80px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.container-four-text-one {
    font-weight: bolder;
}

.container-four-button {
    border-radius: 7px;
    padding: 5px 20px;
    border: solid;
    border-width: 2px;
    border-color:#F9FAF8;
    font-weight: bolder;
}

/* FOOTER*/
.footer {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}