body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header,
.container-one,
.footer {
    background-color: #1F2937;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text,
.header-right {
    font-size: 18px;
    color: #E5E7EB;
}

.container-one-button,
.container-four {
    background-color: #3882F6;
}

.container-two-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container-three {
    background-color: #E5E7EB;
}

.container-three-text-one {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}