body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}



.header,
.container-one,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-left {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 15px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}


.hero-text,
.header-right {
    font-size: 18px;
    color: #E5E7EB;
}

.container-one-button,
.container-four-button,
.container-four {
    background-color: #3882F6;
    color: #F9FAF8;
}

.container-one-left {
    color: white;    
}

.container-two-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.inner-container-three {
    background-color: #E5E7EB;
}

.container-three-text-one {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.footer {
    color: #F9FAF8;
}